- admin_or_manager = current_user.has_role?(:admin) || current_user.has_role?(:manager)
= simple_form_for(@renter) do |f|
  = f.error_notification
  .row
    .col-xs-6
      = f.input :phone, placeholder: '+380671111111'
      = f.input :email, placeholder: 'Email'
      = f.input :town_id, placeholder: 'Город', as: :select, collection: Town.all, selected: 2, include_blank: false
      = f.input :town_area, placeholder: 'Район города, станция метро'
      - if admin_or_manager
        = f.input :phone_format, as: :select, collection: [['Открывать по таймеру', :timer], ['Маскировать телефон ** (пока таймер)', :last_digits], ['Скрывать тел до оплаты (таймер игнорируется)', :everytime], ['Продано', :sold]], include_blank: false
      = f.input :rooms, placeholder: 'можно разделять запятыми'
      = f.input :people, placeholder: 'человек'
      = f.input :amount_from, placeholder: 'цена от ГРН'
      = f.input :amount_to, placeholder: 'цена до ГРН'
      - if admin_or_manager
        = f.input :max_sales, placeholder: 'введите число продаж (объявление будет помечено как продано)'
    .col-xs-6
      = f.input :check_in, as: :date, placeholder: 'дата заезда'
      - if admin_or_manager
        = f.input :show_check_in
      = f.input :check_out, as: :date, placeholder: 'дата выезда'
      - if admin_or_manager
        = f.input :show_check_out
      - if current_user.has_role?(:admin)
        = f.input :guard_time
      - if admin_or_manager
        = f.input :agent, as: :boolean
      = f.input :description, as: :text, placeholder: 'Не обязательно'

  .row
    .col-md-2.col-md-offset-4.mtop10
      = f.button :submit, class: 'btn btn-info'

%p.text-danger
  %label
    %abbr *
    %span Обязательные поля
:css
  .renter_check_out select.date, .renter_check_in select.date, .renter_guard_time select.datetime{ width: 32%; display: inline-block;}
  #renter_guard_time_4i, #renter_guard_time_5i {margin-top: 5px}