= simple_form_for(@renter) do |f|
  = f.error_notification
  .row
    = f.input :phone, placeholder: '+380671111111'
    = f.input :email, placeholder: 'Email'
    = f.input :town_id, placeholder: 'Город', as: :select, collection: Town.all, include_blank: false
    = f.input :phone_format, as: :select, collection: [['Открывать по таймеру', :timer], ['Маскировать телефон ** (пока таймер)', :last_digits], ['Скрывать тел до оплаты (таймер игнорируется)', :everytime], ['Продано', :sold]], include_blank: false
    = f.input :rooms, placeholder: 'комнат'
    = f.input :people, placeholder: 'человек'
    = f.input :amount, placeholder: 'цена в USD'
    = f.input :amount_grn, placeholder: 'цена в UAH'
    = f.input :max_sales, placeholder: 'введите число продаж (объявление будет помечено как продано)'
    = f.input :check_in, placeholder: 'дата заезда'
    = f.input :check_out, placeholder: 'дата выезда'
    - if current_user.has_role?(:admin)
      = f.input :guard_time
    = f.input :description, as: :text, placeholder: 'Не обязательно'

  .row
    .col-md-2.col-md-offset-4.mtop10
      = f.button :submit, class: 'btn btn-info'

%p.text-danger
  %label
    %abbr *
    %span Обязательные поля