- renter = renter.decorate

%tr.text-info.renter{'data-url' => renter_path(renter)}
  %td.text-center
    %div= renter.created_at
    - if renter.agent?
      %span.label.label-info{ data: {toggle: 'tooltip', placement: 'top', title: 'Заявка от агента'}} Агент
    - if renter.new?
      %span.label.label-warning{ data: {toggle: 'tooltip', placement: 'top', title: 'Ожидает публикации админом'}} new
    - if user_signed_in? && current_user.has_role?(:admin) && renter.published? && (renter.object.published_at > Time.now)
      %span.label.label-danger{ data: {toggle: 'tooltip', placement: 'top', title: 'Будет публичным'}}= renter.published_at(:shorter)
  %td
    %ul.nav.nav-pills.nav-stacked
      %li.active
        %a{href: '#'}
          %span.badge= renter.rooms
          %span.badge= renter.people
          %span.badge.pull-right
            = renter.amount
            = renter.amount_grn
  %td
    %span{ data: {toggle: 'tooltip', placement: 'top', title: 'Заезд / Выезд'}}
      %div #{renter.check_in} #{renter.check_out}
  %td
    - if user_signed_in?
      - if renter.phone_format.eql?('sold') || renter.expired? || renter.sold?
        %span.badge Продано
        - if can?(:show, renter.object)
          .phone= renter.phone
          .email= renter.email
      - else
        - if can?(:show, renter.object)
          .phone= renter.phone
          .email= renter.email
        - elsif can?(:buy, renter.object)
          %span.label.label-danger откройте информацию
          - if renter.phone_format.eql?('last_digits')
            .phone= renter.phone_masked
          - unless renter.phone_format.eql?('everytime')
            .text-muted
              = icon_tag('eye-close')
              = renter.guard_time
    - else
      .row
        .col-xs-7
          - if renter.phone_format.eql?('sold') || renter.sold?
            %span.badge Продано
          - elsif renter.phone_format.eql?('last_digits') && renter.expired?
            .phone= renter.phone
            .email= renter.email
          - else
            %span.label.label-danger откройте информацию
            - if renter.phone_format.eql?('last_digits')
              .phone= renter.phone_masked
            - unless renter.phone_format.eql?('everytime')
              .text-muted
                = icon_tag('eye-close')
                = renter.guard_time
        .col-xs-4
          = link_to('Открыть', '#', class: 'btn btn-success btn-xs', data: {toggle: "modal", target: "#authorized"})
  %td.text-muted.description.small
    %em= renter.description(action_name)
  %td
    - if user_signed_in?
      - if !current_user.has_role?(:manager)
        - if can?(:show, renter.object) || (can?(:buy, renter.object) && !renter.phone_format.eql?('sold'))
          = link_to 'Открыть', renter_path(renter), class: 'btn btn-success btn-xs'
        - elsif !renter.phone_format.eql?('sold')
          = link_to 'Открыть', '#', class: 'btn btn-success btn-xs',
            data: {container: "body", toggle: "popover", placement: "left",
            content: "Нулевой баланс, обратитесь к администратору."}

      .btn-group
        - if can?(:edit, renter.object)
          = link_to icon_tag('wrench', 'Изменить'), edit_renter_path(renter), class: 'btn btn-info btn-xs'
        - if can?(:delete, renter.object)
          = link_to icon_tag('trash', 'Удалить'), renter_path(renter), method: :delete, data: {confirm: 'Вы уверены что хотите удалить?'}, class: 'btn btn-info btn-xs'
