.renters
  - if user_signed_in? && current_user.has_role?(:admin)
    .row
      .col-md-3
        = link_to('Модерированные', renters_path(state: 'published'), class: 'btn btn-info')
        = link_to('Новые', renters_path(state: 'new'), class: 'btn btn-default')
      .col-md-3

  %table.table.table-striped
    %thead
      %tr
        %th= sortable "town", "Город"
        %th= sortable "updated_at", "Дата пуб/ред"
        %th.room_and_price
          = sortable "rooms", "Комнат"
          \/
          = sortable "people", "Человек"
          \/
          = sortable "amount", "Цена"
        %th= sortable "check_in", "Проживание"
        %th Tel/email
        %th Описание
        %th
    = render @renters

= paginate @renters