- renter = @renter.decorate
.well
  .row
    .col-md-3
      .h3= renter.town
  .row
    .col-md-3
      %ul.nav.nav-pills.nav-stacked
        %li.active
          %a{href: '#'}
            = renter.rooms
            %span.badge.pull-right
              = renter.amount
              = renter.amount_grn

    .col-md-3
      - if can?(:show, renter.object)
        .phone
          = renter.phone
        .email
          = renter.email
      - else
        %span.label.label-danger оплатите информацию
        .text-muted
          = icon_tag('eye-close')
          = renter.guard_time
    .col-md-2
      .btn-group
        - if can?(:edit, renter.object)
          = link_to icon_tag('wrench', 'Изменить'), edit_renter_path(renter), class: 'btn btn-info btn-sm'
        - if can?(:delete, renter.object)
          = link_to icon_tag('trash', 'Удалить'), renter_path(renter), method: :delete, data: {confirm: 'Вы уверены что хотите удалить?'}, class: 'btn btn-info btn-sm'


  .row.text-info
    .col-md-4.mtop10
      %span{ data: {toggle: 'tooltip', placement: 'top', title: 'Заезд / Выезд'}}
        = renter.check_in
        \-
        = renter.check_out
      .mtop10
        Обновлено:
        = renter.updated_at
  .row
    .col-md-6.mtop10.text-muted.small
      %em= renter.description(action_name)

- if current_user.has_role?(:admin)
  .row
    .col-md-12
      = link_to('VIP Маклера', for_assign_users_path(role: 'vip_realtor', renter_id: @renter.id), remote: true, class: 'btn btn-sm btn-warning')
      = link_to('Маклера', for_assign_users_path(role: 'realtor', renter_id: @renter.id), remote: true, class: 'btn btn-sm btn-primary')
  .realtors
