%p
  %h2 Амдинистор выслал Вам новое объявление
  %div Город: #{@renter.town}
  %div Комнат: #{@renter.rooms}
  - unless @renter.people.blank?
    %div Человек: #{@renter.people}
  - unless @renter.amount.blank?
    %div Цена: #{@renter.amount}
  - unless @renter.amount_grn.blank?
    %div Цена: #{@renter.amount_grn}
  %div Будет доступно остальным: #{@renter.published_at}

  %br/
  %div= link_to('Подробней узнать', renter_url(@renter))