Амдинистор выслал Вам новое объявление

-#Город: #{@renter.town}
Комнат: #{@renter.rooms}
- unless @renter.people.blank?
  Человек: #{@renter.people}
- unless @renter.amount_from.blank?
  Цена от: #{@renter.amount_from}
- unless @renter.amount_to.blank?
  Цена до: #{@renter.amount_to}
Описание: #{@renter.description}

Будет доступно остальным: #{@renter.published_at}

= link_to('Подробней узнать', renter_url(@renter))