Амдинистор выслал Вам новое объявление

-#Город: #{@renter.town}
Комнат: #{@renter.rooms}
- unless @renter.people.blank?
  Человек: #{@renter.people}
- unless @renter.amount.blank?
  Цена: #{@renter.amount}
- unless @renter.amount_grn.blank?
  Цена: #{@renter.amount_grn}

Будет доступно остальным: #{@renter.published_at}

= link_to('Подробней узнать', renter_url(@renter))