%p
  %h2 Амдинистор выслал Вам новое объявление
  -#%div Город: #{@renter.town}
  %div Комнат: #{@renter.rooms}
  - unless @renter.people.blank?
    %div Человек: #{@renter.people}
  - unless @renter.amount_from.blank?
    %div Цена от: #{@renter.amount_from}
  - unless @renter.amount_to.blank?
    %div Цена до: #{@renter.amount_to}
  %div Описание: #{@renter.description}
  %div Будет доступно остальным: #{@renter.published_at}

  %br/
  %div= link_to('Подробней узнать', renter_url(@renter))