%p
  %h2 Поступило новое объявление
  -#%div Город: #{@renter.town}
  %div Дoбавил: #{@agent}
  %div Комнат: #{@renter.rooms}
  %div Человек: #{@renter.people}
  %div Цена: #{@renter.amount}
  %div Цена: #{@renter.amount_grn}

  %br/
  %div Дата публикации: #{@renter.updated_at}
  %div= link_to('Опубликовать или выслать доступ', renter_url(@renter))