%p
  %h2 Поступило новое объявление
  -#%div Город: #{@renter.town}
  %div Дoбавил: #{@agent}
  %div Комнат: #{@renter.rooms}
  %div Человек: #{@renter.people}
  %div Описание: #{@renter.description}
  %div Телефон: #{@renter.phone}
  %div Цена от: #{@renter.amount_from}
  %div Цена до: #{@renter.amount_to}

  %br/
  %div Дата публикации: #{@renter.updated_at}
  %div= link_to('Опубликовать или выслать доступ', renter_url(@renter))