Поступило новое объявление
\---------------------------
Город: #{@renter.town}
Комнат: #{@renter.rooms}
Человек: #{@renter.people}
Цена: #{@renter.amount}
Цена: #{@renter.amount_grn}


Для просмотра более подробной информации перейдите по ссылке
#{renter_url(@renter)}
