%p
  %h2 Новое объявление

  -#%div Город: #{@renter.town}
  %div Дата заезда: #{@renter.check_in}
  %div Комнат: #{@renter.rooms}
  %div Описание: #{@renter.description}
  - unless @renter.people.blank?
    %div Человек: #{@renter.people}
  - unless @renter.amount_from.blank?
    %div Цена от: #{@renter.amount_from}
  - unless @renter.amount_to.blank?
    %div Цена до: #{@renter.amount_to}

%div Дата публикации: #{@renter.updated_at}
