%p
  %h2 Предложение добавить новое объявление
  %div Телефон: #{@renter.phone}
  %div Город: #{@renter.town_name}
  %div Комнат: #{@renter.rooms}
  %div Человек: #{@renter.people}
  %div Цена: #{@renter.amount}
  %div Цена: #{@renter.amount_grn}
  %p Описание: #{@renter.description}

%p
  %b Добавьте это объявление на сайт через веб интерфейс.