.row
  .col-md-12
    %table.table
      %thead
        %tr
          %th ФИО
          %th Телефон
          %th Email
          - if @role.eql?('manager')
            %th Объявлений
          - elsif !@role.eql?('admin')
            %th Доступно просмотров
            %th Просмотрено
          %th Описание
          %th Роль
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.name, user
            %td= user.phone
            %td= mail_to user.email
            - if  @role.eql?('manager')
              %td= user.renters_count
            - elsif !@role.eql?('admin')
              %td
                = form_for user, :url => user_path(user), html: {method: :put, remote: true, class: 'form-inline free_orders' } do |f|
                  = link_to(icon_tag('minus'), user_path(user, 'user[order]' => 'minus'), method: :put, remote: true, class: 'btn btn-xs btn-warning minus')
                  = f.text_field :free_orders, class: 'form-control free_orders_field'
                  = link_to(icon_tag('plus'), user_path(user, 'user[order]' => 'plus'), method: :put, remote: true, class: 'btn btn-xs btn-warning plus')
              %td= user.orders_count
            %td= user.description
            %td
              %a.btn.btn-xs.btn-warning{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"}
                %span.glyphicon.glyphicon-wrench
              = user.roles.first.name.titleize unless user.roles.first.nil?
              = render user
            %td
              = link_to(content_tag(:span, 'Изменить', class: 'glyphicon glyphicon-wrench'), edit_user_path(user), :class => 'btn btn-xs btn-warning')
              = link_to(content_tag(:span, 'Удалить', class: 'glyphicon glyphicon-remove'), user_path(user), :data => { :confirm => "Вы уверены?" }, :method => :delete, :class => 'btn btn-xs btn-warning') unless user == current_user

