.modal{:id => "role-options-#{user.id}", :style => "display: none;"}
  = simple_form_for user, :url => user_path(user), :html => {:method => :put, :class => 'form-horizontal' } do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %a.close{"data-dismiss" => "modal"} ×
          %h3 Изменение роли
        .modal-body
          = f.input :role_ids, :collection => Role.all, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline', checked: user.role_ids.first
        .modal-footer
          = f.submit "Изменить роль", :class => "btn btn-warning"
          %a.btn{"data-dismiss" => "modal", :href => "#"} Закрыть

.modal{:id => "balance-options-#{user.id}", :style => "display: none;"}
  = simple_form_for user, :url => user_path(user), :html => {:method => :put, :class => 'form-horizontal' } do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %a.close{"data-dismiss" => "modal"} ×
          %h3 Изменение баланса
        .modal-body
          = f.input :free_orders
        .modal-footer
          = f.submit "Изменить баланс", :class => "btn btn-warning"
          %a.btn{"data-dismiss" => "modal", :href => "#"} Закрыть
