.row
  .col-md-12
    %table.table
      %thead
        %tr
          %th ФИО
          %th Телефон
          %th Емейл
          - if @role.eql?('manager')
            %th Объявлений
          - elsif !@role.eql?('admin')
            %th Оплачено
            %th Просмотрено
          %th Описание
          %th Роль
          %th
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.name, user
            %td= user.phone
            %td= mail_to user.email
            - if  @role.eql?('manager')
              %td= user.renters_count
            - elsif !@role.eql?('admin')
              %td
                = user.free_orders
                = link_to(icon_tag('plus'), "#balance-options-#{user.id}", "data-toggle" => "modal", class: 'btn btn-xs btn-warning')
              %td= user.orders_count
            %td= user.description
            %td
              %a.btn.btn-xs.btn-warning{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"}
                %span.glyphicon.glyphicon-wrench
              = user.roles.first.name.titleize unless user.roles.first.nil?
              = render user
            %td= link_to(content_tag(:span, 'Удалить', class: 'glyphicon glyphicon-remove'), user_path(user), :data => { :confirm => "Вы уверены?" }, :method => :delete, :class => 'btn btn-xs btn-warning') unless user == current_user
