%h3 Users
.row
  .col-md-12
    %table.table
      %thead
        %tr
          %th ФИО
          %th Телефон
          %th Емейл
          //%th Дата рег.
          %th Описание
          %th Роль
          %th
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.name, user
            %td= user.phone
            %td= mail_to user.email
            //%td= user.created_at.to_date
            %td= user.description
            %td
              %a.btn.btn-xs.btn-warning{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"}
                %span.glyphicon.glyphicon-wrench
              = user.roles.first.name.titleize unless user.roles.first.nil?
              = render user
            %td= link_to(content_tag(:span, 'Удалить', class: 'glyphicon glyphicon-remove'), user_path(user), :data => { :confirm => "Вы уверены?" }, :method => :delete, :class => 'btn btn-xs btn-warning') unless user == current_user
