= render 'users/search'
%ul#users.nav.nav-tabs
  %li= link_to('Новые', '#new', data: {toggle: 'tab', targer: users_path(format: :js) })
  %li= link_to('Риэлторы', '#realtor',  data: {toggle: 'tab', targer: users_path(format: :js, role: 'realtor')})
  %li= link_to('VIP Риэлторы', '#vip_realtor', data: {toggle: 'tab', targer: users_path(format: :js, role: 'vip_realtor')})
  %li= link_to('Менеджеры', '#manager', data: {toggle: 'tab', targer: users_path(format: :js, role: 'manager')})
  %li= link_to('Администраторы', '#admin', data: {toggle: 'tab', targer: users_path(format: :js, role: 'admin')})

.tab-content
  #new.tab-pane.fade
  #realtor.tab-pane.fade realtor
  #vip_realtor.tab-pane.fade vip realtor
  #manager.tab-pane.fade  manger
  #admin.tab-pane.fade   admin

