%h2 Отправьте объявление
= simple_form_for(@renter, url: send_renter_path, html: { method: :post }) do |f|
  = f.error_notification
  .row
    = f.input :phone, placeholder: '+380671111111'
    = f.input :email, placeholder: 'Email'
    = f.input :town_name, placeholder: 'Город', required: true
    = f.input :town_area, placeholder: 'Район города, станция метро'#, label: 'Район города'
    = f.input :rooms, as: :string, placeholder: 'можно разделять запятыми'
    = f.input :people, placeholder: 'человек'
    = f.input :amount_to, as: :string, label: 'Цена от UAH', placeholder: 'цена в UAH'
    = f.input :amount_from, as: :string, label: 'Цена до UAH', placeholder: 'цена в UAH'
    = f.input :flat_type, placeholder: 'Квартира, комната, дом, коммерческая', label: 'Тип недвижимости'
    -#= f.input :check_in, placeholder: 'дата заезда'
    -#= f.input :check_out, placeholder: 'дата выезда'
    = f.input :description, as: :text, placeholder: 'Не обязательно'
  .row
    .col-md-2.col-md-offset-4.mtop10
      = f.button :submit, class: 'btn btn-primary'