- users.each do |user|
  =  content_tag_for(:span, user) do
    = link_to(user.name, grant_access_setting_path(id: setting_id, user_id: user.id),
      title: "#{user.email}, #{user.phone}",
      remote: true,
      class: "btn btn-default btn-xs #{ 'btn-success' if @assigned_user_ids.include?(user.id)}")