%nav.navbar.navbar-default
  - if user_signed_in?
    .role_hint
      - current_user.roles.pluck(:name).each do |role|
        %a
          %span.label.label-primary #{role}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Главная', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
      - if user_signed_in?
        %form.navbar-form.navbar-left{action: '/', role: 'search'}
          = hidden_field_tag(:sort, 'check_in')
          = hidden_field_tag(:direction, 'asc')
          %span#date_picker.form-group{title: 'Выберите дату заселения', data: { placement: 'left'} }
            = text_field_tag(:check_in, params[:check_in], class: 'form-control add-on', autocomplete: 'off', data:{format: "dd-MM-yyyy"}, placeholder: 'Выберите дату заселения')
          = submit_tag('Найти', class: 'btn btn-success')
      - else
        = link_to 'О нас', about_path, class: 'navbar-brand'
        = link_to 'Подать объявление', send_renter_path, class: 'btn btn-success navbar-btn'
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to 'Администрация', administration_path
          %li= link_to 'Профиль', edit_user_registration_path
          %li= link_to 'Выйти', destroy_user_session_path, :method=>'delete'
        - else
          %li= link_to 'Регистрация', new_user_registration_path
          %li= link_to 'Войти', new_user_session_path
