!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Rent'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Rent'}"}
    = yield(:header)
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <link rel="icon" type="image/png" href="/faviconico.png" />
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      .container
        .content
          = render 'layouts/messages'
          = yield
      #authorized.modal{tabindex: "-1", role: "dialog", aria: {labelledby: "authorizedLabel", hidden: "true"}}
        .modal-dialog
          .modal-content
            .modal-header
              %button{:type => "button", :class => "close", 'data-dismiss' => "modal"}
                %span{'aria-hidden' => "true"}x
                %span.sr-only Close
              %h5.modal-title{id: 'authorizedLabelModal'} &nbsp;
            .modal-body
              %p
                .text-center Для открытия объявления необходимо авторизоваться.
                .text-center Вы можете #{link_to('Войти', new_user_session_path)} или #{link_to('Зарегистрироваться', new_user_registration_path)}.
                %br
    %footer