!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Rent'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Rent'}"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'

    %main{:role => "main"}
      - if user_signed_in? && Rails.env.development?
        .pull-right
          - current_user.roles.pluck(:name).each do |role|
            %span.label.label-primary #{role}
      .container
        .content
          = render 'layouts/messages'
          = yield
    %footer
